@font-face {
	font-family: 'NafeesNastaleeqv102';
	src: url('https://cdn.rawgit.com/shakeebahmad95/SaadNastaleeq/b8f9878d/NafeesNastaleeqv102.eot');
	src: local('NafeesNastaleeqv102'), url('./NafeesNastaleeqv102.woff') format('woff'), url('./NafeesNastaleeqv102.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_32358">Text with this font applied</p> */
.fontsforweb_fontid_32358 {
	font-family: 'NafeesNastaleeqv102' !important;
}

/* Font downloaded from FontsForWeb.com */
